<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url("{% static 'images/OIP.jpeg' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
        div{
            border-radius: 30px;
            height: 300px;
            width: 300px;
            background-color: rgb(189, 250, 180);
            margin-left: 40%;
            margin-top: 100px;
            padding-left: 40px;
        }
        
    </style>
</head>
<body>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Registration Form</h1>
            <label for="">Full Name</label> <br>
            {{form.fullname}} <br>
            <label for="">User Name</label> <br>
            {{form.username}} <br>
            <label for="">Email</label> <br>
            {{form.email}} <br>
            <label for="">Password</label> <br>
            {{form.password}} <br>
            <br>
            <input type="submit" value="Register">
        </form>

    </div>
    

</body>
</html>