<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- HTMX JS -->
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>

</head>
<body hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
    <h1>add Dealer</h1>
    <form action="" method="POST" id="sa">
        {% csrf_token %}
        {{d_form.as_p}}
    </form>

    <div id="tablet-forms">
        {% include 'partials/form.html' %}
    </div>
<div class="my-4">
    <button type="button" class="btn btn-success me-2"
    hx-get="{% url 'create-dealer' %}"
    hx-target="#tablet-forms"
    hx-swap="beforeend">+ add tablet</button>

    <button type="button" class="btn btn-primary" onclick="proceed()" id="submit-all">Submit all</button>
</div>
<script>
    function proceed(){
        document.getElementById('sa').submit()
    }
</script>
</body>
</html>
