<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            margin-left: 40%;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Registration Form</h1>
        <label for="">Full Name</label> <br>
        <input type="text" name="" id=""> <br>
        <label for="">User Name</label> <br>
        <input type="text" name="" id=""> <br>
        <label for="">Email</label> <br>
        <input type="text" name="" id=""> <br>
        <label for="">Password</label> <br>
        <input type="password" name="" id="">
        <br> <br>
        <input type="submit" value="Register">

    </div>
    

</body>
</html>